.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatar-edit {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
